{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <form enctype="multipart/form-data" action="/upload/" method="post">
    {% csrf_token %}
    {{ module.children.0.form.as_p }}
    <input type="hidden" name="username" value="{{ module.children.0.username }}" />
    <p style="float: right; margin-top: 22px;">
     <br>
    <input type="submit" value="Upload">
    </p>
    </form>
    <p>
    BLL Version: {{ module.children.0.build }}
    <br>
    Date Uploaded: {{ module.children.0.date }}
    <br>
    Uploader: {{ module.children.0.uploader }}
    </p>
  </p{% endblock %}