<head>
  <title> Running Regression Tests... </title>
  {% if running %}
  <meta http-equiv="refresh" content="3" />
  {% endif %}
</head>
{% for line in reg_log %}
  {% if line.info == "complete"  %}
    <br>
    <br>
    <form action="/admin">
      <input type="submit" value={{ line.str }}>
    </form>
  {% else %}
    <font color= {{ line.info }}>
      {{ line.str }}
    </font>
    <br>
  {% endif %}
{% endfor %}
