<html>
<head>
<script type="text/javascript">
  function toggle(source) {
    var inputs = document.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
      if (inputs[i] != source && inputs[i].className == source.className) {
        inputs[i].checked = source.checked;
      }
    }
  }
</script> 
</head>

<body>
<h2>Select Test Cases to Run: </h2><br>

<form action = "/automation/{{ url }}" method="post">
{% csrf_token %}
  <input type="hidden" name="bypass" value="{{ bypass }}" />
  {% for key, value in tests.items %}
    <h3>{{ key }}: </h3>
    <b><input type = "checkbox" class = "{{ key }}" onClick = "toggle(this)" checked="checked" value = 'check/uncheck'>
      Check/Uncheck All
    </b><br><br>
    {% for test in value %}
      <input type = "checkbox" name = 'test' value = "{{ test }}" class = "{{ key }}" checked="checked"> {{test}} <br>
    {% endfor %}
    <br><br>
  {% endfor %}
  <input type = "submit" value = "Run Regression Tests">
</form>
</body>
</html>