{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
            <ul>
            {% for child in module.children %}
            {% spaceless %}
            <li class="{% cycle 'odd' 'even' %}">
            {% if child.url %}<a href="{{ child.url }}">{{ child.title }}: {{ child.owned }}</a>{% else %}{{ child.title }}{% endif %} <br>
            </li>
            {% endspaceless %}
            {% endfor %}
            </ul>

{% endblock %}
