{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<script>
var savedhtml = '';
var savedproj = '';

function handleTestsClick() {
    var count = 0;
    var checkedValue = $('.project:checkbox:checked').map(function() {
        count++;
        return this.name;
    }).get().join(",");
    if (count <= 1) {
      alert('At least two tests must be selected to compare.')
      return;
    }
    $.ajax({ type:"GET",
      url: "/automation/testsajax/",
      data: {
        'data': checkedValue
      },
      success: function(data) {
        savedhtml = document.getElementById("module").innerHTML;
        document.getElementById("heading").innerHTML= "";
        document.getElementById("crbutton").setAttribute("style", "display: none;");
        document.getElementById("testsbutton").setAttribute("value", "Back");
        document.getElementById("testsbutton").setAttribute("onClick", "backClick();");
        document.getElementById("module").innerHTML= "<center> <img src=//" + data.url + "> </center>";
        return;
      },
  });
}

function handleCRClick() {
    if (isNaN(document.getElementById("days").value) == true) {
        alert('Please enter a valid number for days.');
        return;
    } else if (+(document.getElementById("days").value) < 1) {
        alert('Please enter a positive number of days.');
        return;
    }
    var count = 0;
    var checkedValue = $('.project:checkbox:checked').map(function() {
        count++;
        return this.name;
    }).get().join(",");
    if (count != 1 && savedproj == '') {
      alert('Only one test can be selected to view CR history.')
      return;
    }
    var proj;
    if (savedproj != '') {
      proj = savedproj;
    } else {
      proj = checkedValue;
    }
    $.ajax({ type:"GET",
      url: "/automation/crajax/",
      data: {
        'data': proj,
        'days': document.getElementById("days").value
      },
      success: function(data) {
        if (savedproj == '') {
            savedhtml = document.getElementById("module").innerHTML;
        }
        savedproj = data.proj;
        document.getElementById("heading").innerHTML= "";
        document.getElementById("daylabel").innerHTML= "Days: ";
        document.getElementById("days").setAttribute("style", "");
        document.getElementById("crbutton").setAttribute("value", "Change Days");
        document.getElementById("testsbutton").setAttribute("value", "Back");
        document.getElementById("testsbutton").setAttribute("onClick", "backClick();");
        document.getElementById("module").innerHTML= "<center> <img src=//" + data.url + "> </center>";
        return;
      },
  });
}

function backClick(){
    document.getElementById("module").innerHTML= savedhtml;
    document.getElementById("daylabel").innerHTML= "";
    document.getElementById("days").setAttribute("style", "display: none;");
    document.getElementById("days").value = '7';
    document.getElementById("heading").innerHTML= "Select project(s):";
    document.getElementById("crbutton").setAttribute("style", "");
    document.getElementById("crbutton").setAttribute("value", "CR History");
    document.getElementById("testsbutton").setAttribute("onClick", "handleTestsClick()");
    document.getElementById("testsbutton").setAttribute("value", "Compare Tests");
    
    savedproj = '';
}
</script>

<body>
    <p>
      <span id = 'heading'>Select project(s):</span>
      <form name = "graphform" action="javascript:void(0);">
        <span id = "module">
        <ul>
          {% for item in module.children.0.project_names %}
            <li class="{% cycle 'odd' 'even' %}">
              <input type="checkbox" class="project" name="{{ item }}"> {{ item }} <br>
            </li>
          {% endfor %}
        </ul>
        </span>
        <p style="float: left;"><span id = 'daylabel'></span>
        <input type = 'text' name = 'Days' id = 'days' value = '7' style= "display: none;"></p>
        <p style="float: right;">
          &nbsp;
        <input name = "Submit" id = "crbutton" type = "submit" value="CR History" onClick="handleCRClick();">&nbsp; &nbsp;
        <input name = "Submit" id = "testsbutton" type = "submit" value="Compare Tests" onClick="handleTestsClick();">
        </p>
        <br> &nbsp;
      </form>
    </p>
</body>
{% endblock %}
