{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
            <ul>
              <h2>Project Overview</h2>
            <p><a href="{{ module.children.0.testinfo.testurl }}">
              Total Tests: {{ module.children.0.testinfo.total }}
            </a><br>
            <a href="{{ module.children.0.testinfo.bugsurl }}">
              Outstanding CRs: {{ module.children.0.testinfo.bugs }}
            </a><br>
            <a href="{{ module.children.0.testinfo.weeklybugsurl }}">
              CRs in Last 7 Days
            </a><br>
            <a href="{{ module.children.0.reggroupinfo.projurl }}">
              Total Regression Runs: {{ module.children.0.reggroupinfo.count }}
            </a>
            {% if module.children.0.reggroupinfo.count != 0 %}
              <br><br>Latest Three Runs:
              {% for item in module.children.0.reggroupinfo.latest %}
                <br> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ item.url }}">
                  {{ item.pass }}: &nbsp; {{ item.time }}
                </a>
              {% endfor %}
            {% endif %}
              
            </p>
            <h2>Tests By Owner</h2>
            {% for key, child in module.children.0.testlist.items %}
            {% spaceless %}
            <li class="{% cycle 'odd' 'even' %}">
            {% if child.url %}<a href="{{ child.url }}">{{ child.title }} owns {{ child.owned }} test(s)</a>{% else %}{{ child.title }}{% endif %} <br>
            </li>
            {% endspaceless %}
            {% endfor %}
            {% if module.children.0.rinfo.running == False %}
              <h2>Run Regression Tests</h2>
              <form action=" {% url 'select' module.children.0.projectinfo.name %}" method="post">
              {% csrf_token %}
              <p>
                Port Pair 1: <input type="text" name="one" value= "{{ module.children.0.projectinfo.one }}" placeholder="ip/slot/port">
                &nbsp;&nbsp;
                <input type="text" name="two"value= "{{ module.children.0.projectinfo.two }}" placeholder="ip/slot/port"><br>
                Port Pair 2: <input type="text" name="three" value= "{{ module.children.0.projectinfo.three }}" placeholder="ip/slot/port">
                &nbsp;&nbsp;
                <input type="text" name="four"value= "{{ module.children.0.projectinfo.four }}" placeholder="ip/slot/port"><br>
                Port Pair 3: <input type="text" name="five" value= "{{ module.children.0.projectinfo.five }}" placeholder="ip/slot/port">
                &nbsp;&nbsp;
                <input type="text" name="six"value= "{{ module.children.0.projectinfo.six }}" placeholder="ip/slot/port"><br>
                Port Pair 4: <input type="text" name="seven" value= "{{ module.children.0.projectinfo.seven }}" placeholder="ip/slot/port">
                &nbsp;&nbsp;
                <input type="text" name="eight"value= "{{ module.children.0.projectinfo.eight }}" placeholder="ip/slot/port"><br>
                Port Pair 5: <input type="text" name="nine" value= "{{ module.children.0.projectinfo.nine }}" placeholder="ip/slot/port">
                &nbsp;&nbsp;
                <input type="text" name="ten"value= "{{ module.children.0.projectinfo.ten }}" placeholder="ip/slot/port"> <br>
                <input type="checkbox" name="bypass"> Bypass Firmware Version Check
                <input type="submit" value="Run Regression" style="float: right;"/>
              </p>
              </form>
            {% else %}
              <h2>Regression Being Run By: {{ module.children.0.rinfo.user }}</h2>
              <form action=" {% url 'automation:index' module.children.0.projectinfo.name %}" method="get">
              {% csrf_token %}
              <p>
                Port Pair 1: <input type="text" name="one" value= "{{ module.children.0.projectinfo.one }}" placeholder="ip/slot/port" disabled>
                &nbsp;&nbsp;
                <input type="text" name="two"value= "{{ module.children.0.projectinfo.two }}" placeholder="ip/slot/port" disabled><br>
                Port Pair 2: <input type="text" name="three" value= "{{ module.children.0.projectinfo.three }}" placeholder="ip/slot/port" disabled>
                &nbsp;&nbsp;
                <input type="text" name="four"value= "{{ module.children.0.projectinfo.four }}" placeholder="ip/slot/port" disabled><br>
                Port Pair 3: <input type="text" name="five" value= "{{ module.children.0.projectinfo.five }}" placeholder="ip/slot/port" disabled>
                &nbsp;&nbsp;
                <input type="text" name="six"value= "{{ module.children.0.projectinfo.six }}" placeholder="ip/slot/port" disabled><br>
                Port Pair 4: <input type="text" name="seven" value= "{{ module.children.0.projectinfo.seven }}" placeholder="ip/slot/port" disabled>
                &nbsp;&nbsp;
                <input type="text" name="eight"value= "{{ module.children.0.projectinfo.eight }}" placeholder="ip/slot/port" disabled><br>
                Port Pair 5: <input type="text" name="nine" value= "{{ module.children.0.projectinfo.nine }}" placeholder="ip/slot/port" disabled>
                &nbsp;&nbsp;
                <input type="text" name="ten"value= "{{ module.children.0.projectinfo.ten }}" placeholder="ip/slot/port" disabled>
                {% if module.children.0.rinfo.project == True %}
                  <input type="submit" value="View Running Regression" style="float: right;"/>
                {% else %}
                  <input type="submit" value="Run Regression" style="float: right;" disabled/>
                {% endif %}
              </p>
              </form>
            {% endif %}
            </ul>

{% endblock %}
